
#search-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

#search-box #form-search-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #fff;
  z-index: 50;
  transition: 300ms all;
}

#search-box #form-search-mobile .overflow-hidden input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0;
  background-color: #D4CFCF;
}

#search-box #form-search-mobile button {
  width: 56px;
  height: 56px;
  background-color: $link-primary-color;
  padding: 0;
  border: 0 none;
  border-radius: 0;
}