$background-color: #FFFFFF;
$footer-color:#878787;
$btn-success-background-color: #69C900;
$btn-success-background-hover-color: #5cb000;
$link-primary-color: #757575;
$link-hover-primary-color: #4f4f4f;
$color-primary: #243e7e;
$color-primary-light: #3459b6;
$color-accent: #ef7d00;
$black: #000000;
$color-nav:#dededd;
$blue: #00386a;